<!-- Section -->
<section>
    <header class="major">
        <h2>Articles</h2>
    </header>
    <div class="posts">
        <app-article-item *ngFor="let newsarticle of newsarticles" [newsarticle]="newsarticle"></app-article-item>
    </div>
</section>