<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <h1>The Newsroom</h1>
                <ul class="icons">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Members</a></li>

                </ul>
            </header>

            <form action="#" method="post" class="member-login">
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" required="required">		
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" required="required">	
                </div>        
                <div class="form-group">
                    <button type="submit" >Login</button>
                </div>
            </form>

        </div>
    </div>
</div>