<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <h1>The Newsroom</h1>
                <ul class="icons">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Members</a></li>

                </ul>
            </header>

            <app-banner></app-banner>

            <app-news-articles></app-news-articles>

        </div>
    </div>
</div>