<article>
    <a href="{{ newsarticle.url }}" class="image" target="_blank"><img src="{{ newsarticle.urlToImage }}" alt="{{ newsarticle.title }}" loading="lazy"></a>
    <h3>{{ newsarticle.title }}</h3>     
    <p>{{ newsarticle.description }}</p>
    <ul class="actions">
        <li><a href="{{ newsarticle.url }}" class="button" target="_blank">More</a></li>
    </ul>
</article>