<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>{{ newsarticle.title }}</h1>
        </header>
        <p>{{ newsarticle.description }}</p>
        <ul class="actions">
            <li><a href="{{ newsarticle.url }}" class="button big" target="_blank">Learn More</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="{{ newsarticle.urlToImage }}" alt="{{ newsarticle.title }}" />
    </span>
</section>